.switch-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  .switch {
    position: relative;
    display: inline-block;
    inline-size: 3.5rem;
    block-size: 1.5rem;

    /* Hide default HTML checkbox */
    input {
      opacity: 0;
      inline-size: 0;
      block-size: 0;

      &:checked {
        & + .slider {
          background-color: var(--color-secondary);

          &:before {
            -webkit-transform: translateX(115%);
            -ms-transform: translateX(115%);
            transform: translateX(115%);
          }
        }

        &:focus + .slider {
          box-shadow: 0 0 1px var(--color-secondary);
        }
      }
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--color-gray-30);
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 34px;

      &:before {
        position: absolute;
        content: '';
        block-size: 85%;
        inline-size: 40%;
        left: 8%;
        bottom: 8%;
        background-color: var(--color-gray-98);
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 50%;
      }
    }
  }
}
