.bg-color-1 {
  background-color: #ff6b6b;
}

.bg-color-2 {
  background-color: #4ecdc4;
}

.bg-color-3 {
  background-color: #45b7d1;
}

.bg-color-4 {
  background-color: #f7d794;
}

.bg-color-5 {
  background-color: #786fa6;
}

.user {
  display: flex;
  gap: 0.5rem;

  align-items: center;

  font-size: var(--fz-100);

  .avatar {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--color-gray-97);
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    .r1 {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .name {
        font-weight: 500;
      }

      .status {
        border-radius: 1rem;
        background-color: var(--color-gray-20);
        padding: 0.1rem 0.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 200;
      }
    }

    .date {
      font-weight: 200;
    }
  }
}
