.ratingItem {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .ratingHeader {
    display: flex;
    justify-content: space-between;
    color: var(--color-gray-98);

    .ratingLabel,
    .ratingScore {
      font-size: var(--fz-200);
    }
  }

  .progressBar {
    height: 0.5rem;
    inline-size: 100%;
    background-color: var(--color-gray-20);
    border-radius: 0.5rem;
    overflow: hidden;

    .progressed {
      block-size: 100%;
      background-color: var(--color-primary);
      border-radius: 0.5rem;
      transition: inline-size 300ms ease;
    }
  }
}
