.specialty {
  max-block-size: 20rem;
  overflow: auto;

  .list {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .item {
      padding: 0.3rem;
      font-size: var(--fz-300);
      border-radius: 0.5rem;

      &:hover {
        background-color: var(--color-gray-20);
      }
    }
  }
}
