.container {
    max-block-size: 20rem;
    overflow: auto;

    .list {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        cursor: pointer;

        .item {
            font-size: var(--fz-300);
        }
    }
}
