.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  min-inline-size: 2.5rem;
  block-size: 1.7rem;
  padding-inline: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--color-rating);
  color: var(--color-gray-10);
  font-weight: 500;
  font-size: var(--fz-200);
}
