.container {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background-color: var(--color-gray-12);
  position: relative;
  cursor: pointer;
  color: var(--color-gray-80);
  outline: solid 1px var(--color-gray-20);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  &:focus-within {
    outline: solid 1px var(--color-gray-40);
  }

  .label {
    margin-inline: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    padding-inline-start: 0.5rem;
  }

  .input-wrapper {
    display: flex;
    flex: 1;
    border-radius: 0.5rem;
    align-items: center;
    position: relative;
    padding-inline-end: 1rem;

    .input {
      padding: 0.75rem;
      border-radius: 0.5rem;
      border: none;
      width: 100%;
      height: 2.5rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 500;
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      cursor: pointer;
      background-color: var(--color-gray-12);
      color: inherit;

      &:focus-within {
        outline: none;
      }

      &::placeholder {
        color: var(--color-gray-70);
        font-weight: 400;
      }
    }
  }

  .options {
    position: absolute;
    inset-block-start: 100%;
    inset-inline-start: 0;
    inline-size: 100%;
    margin-block-start: 0.25rem;
    border-radius: 0.5rem;
    background-color: var(--color-gray-12);
    box-shadow:
      0 4px 6px rgba(0, 0, 0, 0.1),
      0 2px 4px rgba(0, 0, 0, 0.06);
    max-block-size: 15rem;
    overflow-y: auto;
    z-index: 10;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    outline: solid 1px var(--color-gray-20);

    .option {
      padding: 0.75rem 1rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      cursor: pointer;
      border-radius: 0.25rem;
      transition:
        background-color 0.2s ease,
        color 0.2s ease;

      &:hover {
        background-color: var(--color-gray-20);
      }

      &.selected {
        background-color: var(--color-primary-opposite);
        color: var(--color-gray-98);
        font-weight: 600;
      }
    }
  }
}
