.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  margin-bottom: 8rem;

  .left-col {
  }

  .right-col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
