.search-items {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-block-start: 0.5rem;

  .item {
    padding: 0.25rem 0.5rem;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    gap: 0.25rem;
    background-color: var(--color-gray-20);
    font-size: var(--fz-200);
    color: var(--color-gray-90);

    .delete {
      cursor: pointer;
      border-radius: 50%;
      padding: 0.25rem;
      line-height: 1;
      font-size: 0.75rem;

      svg {
        display: block;
      }
    }
  }
}

.delete-all {
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  gap: 0.25rem;
  background-color: var(--color-gray-20);
  font-size: var(--fz-200);
  color: var(--color-error);
  cursor: pointer;
  inline-size: fit-content;

  .delete {
    border-radius: 50%;
    padding: 0.25rem;
    line-height: 1;
    font-size: 0.75rem;

    svg {
      display: block;
    }
  }
}
